body {
  font-family: "Microsoft YaHei" ! important;
  font-color: #222;
}

pre {
  line-height: 2em;
  font-family: "Microsoft YaHei" ! important;
}

h4 {
  line-height: 2em;
}

#danmuarea {
  position: relative;
  background: #222;
  width: 800px;
  height: 445px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.ctr {
  font-size: 1em;
  line-height: 2em;
  text-align: center;
}